<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aopConfig="http://www.beingmate.com/ns/logConfig"
       xsi:schemaLocation="http://www.beingmate.com/ns/logConfig
                           http://www.beingmate.com/ns/logConfig.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <aopConfig:aopConfig id="logConfig" logFile="/user/data.log" logPerformance="true" logReqSource="false"/>
</beans>